@import url("https://fonts.googleapis.com/css?family=Poppins:200,400,500|Raleway:500i&display=swap");

html,
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  overflow-x: hidden;
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
}
.container-fluid {
  padding-right: 40px;
  padding-left: 40px;
  margin: 8em 0;
}
.navbar {
  background-color: #f1c19b !important;
  box-shadow: 0px 5px 20px rgb(168, 168, 168);
}
.btn-outline-success {
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}
.btn-outline-success:hover,
.btn-outline-success:focus,
.btn-outline-success:active {
  color: #b67a4b !important;
  background-color: #ffffff !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.nav-img {
  width: 30%;
  height: 50px;
  -webkit-animation: float 2s infinite alternate;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(207, 207, 207, 0.6); */
    transform: translatey(0px);
  }
}
#cardDiv {
  padding: 20px;
  text-align: center;
}
.img-wrapper {
  width: 100%;
  height: 100%;
}
.img-wrapper img {
  width: 100%;
  height: 350px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: #ff6601;
}
